* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    width: 100%;
    max-width: 1440px;
}

.conteiner {
    padding: 0 100px;

}

p,
h2 {
    margin: 20px 0;
}

.header__conteiner {
    background-color: #424A57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.header__name {
    font-size: 30px;
    color: white;

}

.header__nav {
    margin: 0 15px;
    color: #E1E1E1;
    transition: color 0.20s;
}

.header__nav:hover {
    color: rgb(0, 255, 76);
}

.main__conteiner-name {
    text-align: center;
    background-color: grey;
    border: solid 2px black;
    border-radius: 4px;

}

.main__name-name {
    margin: 10px 0;
    color: white;
}

.main__name-img {
    margin: 10px 0;
}

.main__conteiner-abaut {
    margin: 20px 0;
}

.footer__conteiner {
    display: flex;
    background-color: #424A57;
    align-items: center;
    height: 70px;


}

.footer__conteiner-contacts {
    margin-left: 20px;
    color: white;
    transition: color 0.20s;
}

.footer__conteiner-contacts:hover {
    color: rgb(0, 255, 76);
 
}